<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 	<settings>
		<setting name="cacheEnabled" value="true" />
	</settings> -->
 
    <mappers>
        <mapper resource="com/mq/pay/dao/mapper/Common_SqlMap.xml"/>
        <mapper resource="com/mq/pay/dao/mapper/PayTradeDaoMapper.xml"/>
        <mapper resource="com/mq/pay/dao/mapper/PayChannelDaoMapper.xml"/>
        <mapper resource="com/mq/pay/dao/mapper/PayNotifyDaoMapper.xml"/>
        <mapper resource="com/mq/pay/dao/mapper/PayNotifyPushDaoMapper.xml"/>
         <mapper resource="com/mq/pay/dao/mapper/PayPartnerDaoMapper.xml"/>
    </mappers>
</configuration>
